@import "tailwindcss";

:root {
  --background: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}